{% extends 'base.html' %}

{% block product %}
<p>
    <a class="button is-warning" href="{% url 'index' %}"><b>Início</b></a>
    <a class="button is-warning" href="{% url 'produto:list_produto' %}"><b>Lista de Produtos</b></a> 
    <a class="button is-warning" href="{% url 'saida:list_saida' %}"><b>Lista de Saidas</b></a> <br><br>
    <h1>Entrada</h1> 
    <a class="button is-warning" href="{% url 'entrada:new_entrada' %}"><b>Novo</b></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Cor</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for entrada in entradas %}
        <tr>
            <td>{{ entrada.id }}</td>
            <td>{{ entrada.produto }}</td>
            <td>{{ entrada.produto.cor }}</td>
            <td>{{ entrada.preco }}</td>
            <td>{{ entrada.quantidade }}</td>
            <td><a class="button is-warning" href="{% url 'entrada:update_entrada' entrada.id %}"><b>alterar</b></a></td>
            <td><a class="button is-warning" href="{% url 'entrada:delete_entrada' entrada.id %}"><b>deletar</b></a></td>       
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}