{% extends 'base.html' %}

{% block product %}
<p>
    <a class="button is-primary" href="{% url 'index' %}">Início</a> 
    <a class="button is-primary" href="{% url 'entrada:list_entrada' %}">Lista de Entradas</a> <br><br>
    <h1>Produto</h1>
    <a class="button is-primary" href="{% url 'produto:new_produto' %}">Novo</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Cor</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <th>{{ produto.id }}</th>
            <td>{{ produto.produto }}</td>
            <td>{{ produto.cor }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.quantidade }}</td>
            <td><a class="button is-primary" href="{% url 'produto:update_produto' produto.id %}">alterar</a></td>
            <td><a class="button is-primary" href="{% url 'produto:delete_produto' produto.id %}">deletar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

