{% extends 'base.html' %}

{% block product %}
<p>
    <a class="button is-warning " href="{% url 'index' %}"><b>Início</b></a> 
    <a class="button is-warning" href="{% url 'entrada:list_entrada' %}"><b>Lista de Entradas</b></a>
    <a class="button is-warning" href="{% url 'saida:list_saida' %}"><b>Lista de Saidas</b></a> <br><br>
    <h1>Produto</h1>
    <a class="button is-warning" href="{% url 'produto:new_produto' %}"><b>Novo</b></a>
</p>
<br>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Cor</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <th>{{ produto.id }}</th>
            <td>{{ produto.produto }}</td>
            <td>{{ produto.cor }}</td>
            <td>{{ produto.preco }}</td>
            <td>
                {% if produto.quantidade == 0 %}
                    Esgotado
                {% else %}
                    {{ produto.quantidade }}
                {% endif %}
            </td>
            <td><a class="button is-warning" href="{% url 'produto:update_produto' produto.id %}"><b>alterar</b></a></td>
            <td><a class="button is-warning" href="{% url 'produto:delete_produto' produto.id %}"><b>deletar</b></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

