{% extends 'base.html' %}
{% block navmenu %}
<div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-spaced" href="{% url 'produto:list_produto' %}">
        Produto
      </a>
      <a class="navbar-item is-spaced" href="{% url 'entrada:list_entrada' %}">
        Entrada
      </a>
      <a class="navbar-item is-spaced" href="{% url 'saida:list_saida' %}">
        Saída
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block product %}
<h1>Aplicação estoqueWeb</h1>
<p>Praesent sapien massa, convallis a pellentesque nec,
    egestas non nisi. Praesent sapien massa, convallis a
    pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.
    Vivamus magna justo, lacinia eget consectetur sed, convallis
    at tellus. Proin eget to rtor risus. Vivamus suscipit tortor
    eget felis porttitor volutpat. Nulla porttitor accumsan
    tincidunt. Nulla porttitor accumsan tincidunt. Vestibulum ante
    ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia Curae; Donec velit neque, auctor sit ametaliquam vel,
    ullamcorper sit amet ligula. Praesent sapien massa, convallis
    a pellentesque nec, egestas non nisi.</p>
<br>

<p>Praesent sapien massa, convallis a pellentesque nec,
    egestas non nisi. Praesent sapien massa, convallis a
    pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.
    Vivamus magna justo, lacinia eget consectetur sed, convallis
    at tellus. Proin eget to rtor risus. Vivamus suscipit tortor
    eget felis porttitor volutpat. Nulla porttitor accumsan
    tincidunt. Nulla porttitor accumsan tincidunt. Vestibulum ante
    ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia Curae; Donec velit neque, auctor sit ametaliquam vel,
    ullamcorper sit amet ligula. Praesent sapien massa, convallis
    a pellentesque nec, egestas non nisi.</p>
<br>
<p>Praesent sapien massa, convallis a pellentesque nec,
    egestas non nisi. Praesent sapien massa, convallis a
    pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.
    Vivamus magna justo, lacinia eget consectetur sed, convallis
    at tellus. Proin eget to rtor risus. Vivamus suscipit tortor
    eget felis porttitor volutpat. Nulla porttitor accumsan
    tincidunt. Nulla porttitor accumsan tincidunt. Vestibulum ante
    ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia Curae; Donec velit neque, auctor sit ametaliquam vel,
    ullamcorper sit amet ligula. Praesent sapien massa, convallis
    a pellentesque nec, egestas non nisi.</p>
{% endblock %}
