{% extends 'base.html' %}

{% block product %}
<p>
    <a class="button is-warning" href="{% url 'index' %}"><b>Início</b></a>
    <a class="button is-warning" href="{% url 'produto:list_produto' %}"><b>Lista de Produtos</b></a> 
    <a class="button is-warning" href="{% url 'entrada:list_entrada' %}"><b>Lista de Entradas</b></a> <br><br>
    <h1>Saída</h1> 
    <a class="button is-warning" href="{% url 'saida:new_saida' %}"><b>Novo</b></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for saida in saidas %}
        <tr>
            <th>{{ saida.id }}</th>
            <td>{{ saida.produto }}</td>
            <td>{{ saida.preco }}</td>
            <td>{{ saida.quantidade }}</td>
            <td><a class="button is-warning" href="{% url 'saida:update_saida' saida.id %}"><b>alterar</b></a></td>
            <td><a class="button is-warning" href="{% url 'saida:delete_saida' saida.id %}"><b>deletar</b></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}